# Site wide configuration

title: Juan G. Rubalcaba
description: "Biophysical Ecology Lab"
logo: 120x120.gif # 120x120 px default image used for Twitter summary card
teaser: 400x250.gif # 400x250 px default teaser image used in image archive grid
locale: en
url: //jrubalcaba.github.io
feed:
  path: atom.xml
toc: false
# Jekyll configuration

sass:
  sass_dir: _sass
  style: compressed
permalink: /:categories/:title/
kramdown:
  toc_levels: 1..2
  input: GFM
highlighter: rouge
gems:
  - jekyll-sitemap
collections:
  documentation:
    output: true
    permalink: /:path/


# Site owner
owner:
  name: Juan G. Rubalcaba
  email: jg.rubalcaba@gmail.com
  twitter: JGRubalcaba
  google:
    ad-client:
    ad-slot:
  bio:
  avatar: bio-photo.jpg # 160x160 px image for author byline
  disqus-shortname:

plugins:
  - jekyll-gist
include:
  - .htaccess
  - jekyll-gist
exclude:
  - "*.less"
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - config
  - gulpfile.js
  - lib
  - log
  - node_modules
  - package.json
  - spec
  - tmp

# Twitter timeline
source: 'https://rubygems.org'
group: jekyll_plugins do
    gem 'github-pages'
